# Python
__pycache__/
*.py[cod]
*.pyd
*.pyo
*.pkl

# Virtual env
.venv/
venv/
env/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/

# Outputs / logs
locator/out/
*.log

# Model weights (optional)
*.pt
*.onnx
*.engine
